body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    color: cadetblue;
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 17px;
    font-weight: bold;
    line-height: 34px;
    height: 30px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 30px;
    box-shadow: 5px 5px 15px 5px grey;
  }

  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-info {
    margin-left: 20px;
  }

.restart{
  align-self: center;
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  height: 40px;
  font-size: 25px;
  margin-top: 50px;
  /* margin-bottom: 100px; */
  cursor: pointer;
  border-radius: 5px;
}

.player{
  margin-bottom: 30px;
  font-size: 40px;
  color: brown;
}
  